 .speech{
    color:black;
    size: 18px;
    font-family: Arial, Helvetica, sans-serif;
 }
  .direction{
    color:black;
    size: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color:antiquewhite;
  }
   .direction:hover{
    background-color:pink;
   }
   .xyz{
    color:blue;
   }
   .pqr{
    color:aqua;
   }
   table, th, td{
    border: 1px solid;text-align: center;
   }