 .speech{
    color:black;
    size: 18px;
    font-family: Arial, Helvetica, sans-serif;
 }
  .direction{
    color:black;
    size: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color:antiquewhite;
  }
   .direction:hover{
    background-color:pink;
   }
   .OHANO{
    color:blue;
   }
   .NIJO{
    color:aqua;
   }
   table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
   }
    tr:nth-child(even){
    background-color:gold;

    }
     .OHANO:hover{
        text-shadow: 3px 3px red;
    }
     .NIJO:hover{
        text-shadow: 3px 3px greenyellow;
    }
     .ZAMA:hover{
        text-shadow: 3px 3px blue;
     }
    